$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@mixin sDevice() {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mDevice() {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lDevice() {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xlDevice() {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

body {
  @include sDevice() {
    background-color: blue;
  }

  @include mDevice() {
    background-color: red;
  }

  @include lDevice() {
    background-color: purple;
  }

  @include xlDevice() {
    background-color: pink;
  }
}
